<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMP INFO</title>
 
</head>
<body>
    <h1>Employee List</h1>
    {% if emp_list %}
       <table border=1>
        <thead>
        
            <th>ENAME</th>
           
            <th>EADDR</th>
        </thead>
        {% for emp in emp_list %}
        <tr>
           
            {% for v in emp %}
            <td>{{v}}</td>
            {% endfor %}
        
        </tr>
        {% endfor%}
        
       </table>
       {% else %}
       <p>No records Found</p>
       {% endif %}
       
</body>

</html>