<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyderabad Jobs Information</title>
    <link rel="stylesheet" href="{% static "css/jobs.css" %}">
    <link rel="stylesheet" href="{% static "css/a.css" %}">
</head>
<body>
    <h1>HYDERBAAD JOBS</h1>
    
    <img src="{% static "images/b.jpg" %}" alt="">
    <img src="{% static "images/c.jpg" %}" alt="">
   
    <img src="{% static "images/d.jpg" %}" alt="">
    <hr>
    {% if jobs_list %}
    <table>
        <thead>
            <th>Date</th>
            <th>Company</th>
            <th>Title</th>
            <th>Eligibility</th>
            <th>Email</th>
            <th>Address</th>
        </thead>
        {% for job in jobs_list %}
        <tr>
            <td>{{job.date}}</td>
            <td>{{job.company}}</td>
            <td>{{job.title}}</td>
            <td>{{job.eligibility}}</td>
            <td>{{job.email}}</td>
            <td>{{job.address}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else%}
    <p id='special'>No jobs found in Hyderabad</p>
    {% endif %}
</body>
</html>