<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/m.css" %}">
</head>
<body>
    
    <div class="container" align = 'center'>
        <div class="jumbotron">
            <h1>Satyam Movies...</h1>
            <p>upto date movie information</p><hr>
            <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add movie</a>&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="/listmovie" role="button">List Movie</a>  
        </div>  
    </div>
</body>
</html>